.taskContainer {
  display: grid;
  grid-column: auto;
  grid-template-columns:  50px 200px 200px 200px;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 30px
}

.itemWrapper {
  display: contents;
}
.itemWrapper > .completed {
  background: grey;
}

.itemWrapper > .item {
  height : 50px;
  width : 300px;
}

.D2Dform {
  display: contents;
}

.taskContainer{
  margin-top : 35px;
  margin-left: 20%;
}

#columnHeaders {
  display: contents;
}

.categoryWrapper {
  position: relative;
}
.currentDate{
  position: relative;
}
.categoryList > ul {
  list-style-type: none;
}

.categoryList {
  margin-left: 20px;
}

.taskListWrapper {
  display: contents;
}

.contentWrapper {
  display: contents;
  grid-template-rows: 10px;
}

.sublistWrapper {
  margin-left : 20px;
}

.sublistWrapper > ul{
  list-style-type: none;
}