.taskContainer {
  display: grid;
  grid-column: auto;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 30px
}

.itemWrapper {
  display: contents;
}
.itemWrapper > .completed {
  background: grey;
}

.itemWrapper > .item {
  height : 50px;
  width : 300px;
}